In [1]:
!pip install nltk pandas

Requirement already satisfied: nltk in c:\users\pvenk\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: pandas in c:\users\pvenk\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: click in c:\users\pvenk\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\pvenk\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pvenk\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\pvenk\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pvenk\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pvenk\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pvenk\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pvenk\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pvenk\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: colorama in c:\users\pvenk\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [2]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [3]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\pvenk\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [4]:
data = [
    "I love this product",
    "Worst experience ever",
    "Very satisfied with the service",
    "Not happy at all",
    "It is okay, not great"
]

df = pd.DataFrame(data, columns=["Text"])
df

                              Text
0              I love this product
1            Worst experience ever
2  Very satisfied with the service
3                 Not happy at all
4            It is okay, not great

In [5]:
df["Text"] = df["Text"].str.lower()
df

                              Text
0              i love this product
1            worst experience ever
2  very satisfied with the service
3                 not happy at all
4            it is okay, not great

In [6]:
sia = SentimentIntensityAnalyzer()

In [7]:
df["Sentiment_Score"] = df["Text"].apply(
    lambda x: sia.polarity_scores(x)["compound"]
)
df

                              Text  Sentiment_Score
0              i love this product           0.6369
1            worst experience ever          -0.6249
2  very satisfied with the service           0.4754
3                 not happy at all          -0.4585
4            it is okay, not great          -0.3387

In [8]:
def label_sentiment(score):
    if score > 0:
        return "Positive"
    elif score < 0:
        return "Negative"
    else:
        return "Neutral"

df["Sentiment"] = df["Sentiment_Score"].apply(label_sentiment)
df

                              Text  Sentiment_Score Sentiment
0              i love this product           0.6369  Positive
1            worst experience ever          -0.6249  Negative
2  very satisfied with the service           0.4754  Positive
3                 not happy at all          -0.4585  Negative
4            it is okay, not great          -0.3387  Negative